#cards-section2{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
	
	
}
.heading-4{
	margin-left: auto;
    margin-right: auto;
    width: 8em;
	font-family: 'DM Sans', sans-serif;
	color: #f1b522;
	font-size: 40px;
}


#form1 button{
  margin-top: 17px;
  margin-bottom: 70px;
  margin-left: 23px;
  padding: 16px 36px;
  border-radius: 0px;
  background-color: #f1b503;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #23286b;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#form1 button:hover {
  background-color: #d59f00;
}

